<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>

<body>
    <script>
        function importData(){
            let filename=document.getElementById("filename").value;
            console.log(filename)
            google.script.run.withFailureHandler((e)=>{alert(e)}).importCSVFromGoogleDrive(filename)
        }
        function changeDate(){
            let fmt=document.getElementById("fmt").value;
            console.log(fmt)
            google.script.run.withFailureHandler((e)=>{alert(e)}).changeDate(fmt);
        }
        function clearBg(){
            google.script.run.withFailureHandler((e)=>{alert(e)}).clearBgColor()
        }
        function findAll(){
            let data=document.getElementById("find").value;
            console.log(data)
            google.script.run.withFailureHandler((e)=>{alert(e)}).findAll(data)
        }
        function findAllnReplace(){
            let data=document.getElementById("find1").value;
            let newdata=document.getElementById("replace1").value;
            console.log(data)
            google.script.run.withFailureHandler((e)=>{alert(e)}).findAllnReplace(data,newdata)
        }
    </script>
    <label class="label">Import Data</label>
    <!--Import data from google drive-->
    <div class="box">
        <div class="field">
            <label class="label">File name</label>
            <div class="control">
                <input type="text" class="input" id="filename" placeholder="e.g. data.csv">
            </div>
        </div>
        <button class="button is-primary" onclick="importData()">Import</button>
    </div>
    <label class="label">Manipulate</label>
    <!--Change date format-->
    <div class="box">
        <div class="field">
            <label class="label">New Date</label>
            <div class="control">
                <input type="text" class="input" id="fmt" placeholder="e.g. dd-mm-yyyy">
            </div>
        </div>
        <button class="button is-primary" onclick="changeDate()">New Date</button>
    </div>
    <label class="label">Find</label>
    <!--Find all-->
    <div class="box">
        <div class="field">
            <label class="label">Find data</label>
            <div class="control">
                <input type="text" class="input" id="find" placeholder="e.g. kittycat">
            </div>
        </div>
        <button class="button is-primary" onclick="findAll()">Find All</button>
    </div>
    <!--Find all and replace-->
    <div class="box">
        <div class="field">
            <label class="label">Find data</label>
            <div class="control">
                <input type="text" class="input" id="find1" placeholder="e.g. kittycat">
            </div>
            <label class="label">Replace</label>
            <div class="control">
                <input type="text" class="input" id="replace1" placeholder="e.g. tigercat">
            </div>
        </div>
        <button class="button is-primary" onclick="findAllnReplace()">Find All</button>
    </div>
</body>

</html>