<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>

<body>
    <script>
        function importData(){
            let filename=document.getElementById("filename").value;
            console.log(filename)
            google.script.run.withFailureHandler((e)=>{alert(e)}).importCSVFromGoogleDrive(filename)
        }
    </script>
    <!--Enter filename:
    <input type="text">
    <input type="button" value="Open" onclick="google.script.run.withSuccessHandler(()=>{alert('data imported')}).importCSVFromGoogleDrive()" />-->
    
    <div class="box">
        <div class="field">
            <label class="label">File name</label>
            <div class="control">
                <input type="text" class="input" id="filename" placeholder="e.g. data.csv">
            </div>
        </div>
        <button class="button is-primary" onclick="importData()">Import</button>
    </div>
</body>

</html>