<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>

<body>
    <script>
        function importData(){
            let file=document.querySelector('#file').files;
            var reader=new FileReader();
            reader.readAsText(file[0]);
            let csv="";
            document.querySelector("#progress").innerHTML='<div id="progress-bar">importing...<br><progress class="progress is-small is-primary" max="100">15%</progress></div>'
            reader.onload=(event)=>{
                csv=event.target.result;
                console.log(csv)
                google.script.run.withFailureHandler((e)=>{alert(e)}).withSuccessHandler((d)=>{document.querySelector("#progress").removeChild(document.querySelector("#progress-bar"))}).importCSVFromGoogleDrive(csv)
            }
            
        }
        function changeDate(){
            let fmt=document.getElementById("fmt").value;
            console.log(fmt)
            google.script.run.withFailureHandler((e)=>{alert(e)}).changeDate(fmt);
        }
        function clearBg(){
            google.script.run.withFailureHandler((e)=>{alert(e)}).clearBgColor()
        }
        function findAll(){
            let data=document.getElementById("find").value;
            console.log(data)
            google.script.run.withFailureHandler((e)=>{alert(e)}).findAll(data)
        }
        function findAllnReplace(){
            let data=document.getElementById("find1").value;
            let newdata=document.getElementById("replace1").value;
            console.log(data)
            google.script.run.withFailureHandler((e)=>{alert(e)}).findAllnReplace(data,newdata)
        }
    </script>
    <label class="label">Import Data</label>
    <!--Import data from google drive-->
    <div class="box">
        <div class="field">
            <label class="label">File:</label>
            <div class="control">
                <input type="file" accept=".csv" class="input" id="file" placeholder="e.g. data.csv">
            </div>
        </div>
        <button class="button is-primary" onclick="importData()">Import</button>
        <div class="" id="progress"></div>
    </div>
    <label class="label">Manipulate</label>
    <!--Change date format-->
    <div class="box">
        <div class="field">
            <label class="label">New Date</label>
            <div class="control">
                <input type="text" class="input" id="fmt" placeholder="e.g. dd-mm-yyyy">
            </div>
        </div>
        <button class="button is-primary" onclick="changeDate()">New Date</button>
    </div>
    <label class="label">Find</label>
    <!--Find all-->
    <div class="box">
        <div class="field">
            <label class="label">Find data</label>
            <div class="control">
                <input type="text" class="input" id="find" placeholder="e.g. kittycat">
            </div>
        </div>
        <button class="button is-primary" onclick="findAll()">Find All</button>
    </div>
    <!--Find all and replace-->
    <div class="box">
        <div class="field">
            <label class="label">Find data</label>
            <div class="control">
                <input type="text" class="input" id="find1" placeholder="e.g. kittycat">
            </div>
            <label class="label">Replace</label>
            <div class="control">
                <input type="text" class="input" id="replace1" placeholder="e.g. tigercat">
            </div>
        </div>
        <button class="button is-primary" onclick="findAllnReplace()">Find All</button>
    </div>
</body>

</html>